/* Estilos para el encabezado */
header {
    background: #000; /* Fondo negro para el encabezado */
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Alineación del logo a la izquierda y la navegación a la derecha */
header div {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #000; /* Fondo negro */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}



nav ul li a:hover::after {
    width: 100%;
}

/* Efecto de neón en hover */
nav ul li a:hover {
    background-color: #fff; /* Fondo blanco al pasar el mouse */
    color: #000; /* Texto negro al pasar el mouse */
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff; /* Efecto neón */
}
